<template>
  <b-container>
    <full-screen-loader v-show="loading"/>
    <movie-modal 
    :movie-name="selectedMovieData.movieName"
    :director="selectedMovieData.director"
    :release-year="selectedMovieData.releaseYear"
    :close-function="closeMovieModal"
    v-show="movieModalShow"
    />


    <b-row>
      <b-col md="12" class="header">
        <h1>Movie Cards</h1>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="4" v-for="movie in movies" :key="movie.id">
        <movie-card 
        :movie-id="movie.id"
        :movie-name="movie.movieName" 
        :detail-btn-handler="fetchAndOpenMovieModal"
        />
      </b-col>
      <b-col md="12" v-if="movies.length===0">
        No Data Available
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import FullScreenLoader from "@/components/FullScreenLoader";

import MovieCard from "@/components/MovieCard";
import MovieModal from "@/components/MovieModal";

import MovieApiHandler from "@/api/movie";

export default {
  name: "app",
  components: {
    FullScreenLoader,
    MovieCard,
    MovieModal
  },
  data() {
    return {
      // APPLICATION
      loading: true,
      movieModalShow: false,

      // DATA
      movies: [
        // {
        //   id: 1,
        //   movieName: "Batmans Begins"
        // },
        // {
        //   id: 2,
        //   movieName: "Catch Me If You can"
        // },
        // {
        //   id: 3,
        //   movieName: "The Terminal"
        // }
      ],
      selectedMovieData: {
        // id: 1,
        // movieName: "Batmans Begins",
        // director: "Chirstopher Nolans",
        // releaseYear: "2005"
      }
    };
  },
  methods: {
    async initialFetchMovies() {
      this.loading = true;
      let data = await MovieApiHandler.getMovies();
      // TODO handle error (show error modal)

      this.movies = data["data"];

      this.loading = false;
    },
    async fetchAndOpenMovieModal(movieId) {
      if (movieId === null) {
        return;
      }

      this.loading = true;
      let data = await MovieApiHandler.getMovieByID(movieId);
      // TODO handle error (show error modal)

      this.selectedMovieData = data["data"];

      this.loading = false;
      this.movieModalShow = true;
    },
    closeMovieModal() {
      this.movieModalShow = false;
    }
  },
  created() {
    this.initialFetchMovies();
  }
};
</script>

<style lang='less' scoped>
.header {
  margin-top: 30px;
}
</style>
