<template>
    <div class="fullscreen-cover">
        <div class="loader-content">
            {{text}}
        </div>
    </div>
</template>

<script>
export default {
  name: "FullScreenLoader",
  props: {
    text: {
      type: String,
      default: "กำลังโหลดข้อมูล"
    }
  }
};
</script>

<style lang="less" scoped>
.fullscreen-cover {
  position: fixed;
  z-index: 500;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
}
</style>
