<template>
    <transition name="modal">
        <div class="fullscreen-mask">
            <div class="modal-position" @click="checkWrapperClose">
                <div class="modal-container" @click.stop>
                    <div class="modal-body">
                        Title: {{movieName}}
                        <br>
                        Director: {{director}}
                        <br>
                        Release Year: {{releaseYear}}
                        <br>
                        <br>
                        <b-button @click="closeFunction" variant="primary">Close</b-button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
  name: "MovieModal",
  props: {
    movieName: {
      type: String,
      default: "Movie Title"
    },
    director: {
      type: String,
      default: "Movie director"
    },
    releaseYear: {
      type: String,
      default: "1900"
    },
    closeFunction: {
      type: Function,
      default: () => {}
    },
    wrapperClickClose: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    checkWrapperClose() {
      if (this.wrapperClickClose) {
        this.closeFunction();
      }
    },
    checkEscPressing(e) {
      if (this.escPressClose && e.keyCode === 27) {
        this.closeFunction();
      }
    }
  }
};
</script>

<style lang="less" scoped>
.fullscreen-mask {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-position {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 540px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-body {
  text-align: center;
}
</style>


