<template>
    <b-card :title="movieName"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
    >
    <b-button @click="detailBtnHandler(movieId)" variant="primary">Details</b-button>
  </b-card>
</template>

<script>
export default {
  name: "MovieCard",
  props: {
    movieId: {
      type: Number,
      default: null
    },
    movieName: {
      type: String,
      default: "Movie Title"
    },
    detailBtnHandler: {
      type: Function,
      default: () => {}
    }
  }
};
</script>

<style lang="less" scoped>
</style>

